<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="Model.name}"A review</title>
</head>
<body>
<header>
    <h1> th:text="${reviewModel.title}">A Review</h1>
</header>
<main>

    <ul>

        <p><a href="/reviews">Reviews</a></pi>
        <li th:text="${courseModel.title}"></li>
        <li th:text="${courseModel.category}"></li>
    </ul>
    <h2> th:text="${courseModel.category}"</h2>
</main>
<footer>
    <small>&copy Rochelle Dishmon 2021</small></footer>
</body>
</html>